body{
background-color: rgb(208, 184, 184);
color: rgb(90, 128, 162);
}
#boter{
background-color:rgb(55, 86, 86);
color: rgb(90, 128, 162);
}
#brood{
background-color: rgb(154, 156, 156);
color: rgb(90, 128, 162);
}
#ham{
background-color: rgb(71, 184, 184);
color: rgb(90, 128, 162);
}
#kaas{
background-color: rgb(150, 188, 188);
color: rgb(90, 128, 162);
}
#zeep{
background-color: pink;
color: rgb(90, 128, 162);
}
#scrub{
background-color: rgb(146, 73, 85);
color: rgb(130, 174, 212);
}
#shampoo{
background-color: rgb(72, 49, 52);
color: rgb(90, 128, 162);
}
#creme{
background-color: rgb(171, 59, 78);
color: rgb(90, 128, 162);
}
#bad{
background-color: rgb(39, 72, 39);
color: rgb(90, 128, 162);
}
#water{
background-color: rgb(158, 207, 158);
color: rgb(90, 128, 162);
}
#qua{
background-color:rgb(73, 109, 73);
color: rgb(90, 128, 162);
} 
#zon{
background-color: rgb(37, 45, 37);
color: rgb(90, 128, 162);
}
#liefde{
background-color: rgb(248, 248, 167);
color: rgb(90, 128, 162);
}
#geluk{
background-color: rgb(158, 143, 78);
color: rgb(90, 128, 162);
}
#emotie{
background-color: rgb(213, 192, 73);
color: rgb(90, 128, 162);
}
#eerlijkheid{
background-color: rgb(186, 186, 90);
color: rgb(90, 128, 162);
}